numpy==1.24.3
scipy==1.10.1
scikit-learn==1.2.2
cached-property==1.5.2
pytest==7.3.1
pandas==2.0.1
pytest-cov==4.0.0
Cython==3.0.5
sphinx==7.2.6
numpydoc==1.6.0
sphinx-autoapi==3.0.0
pydata-sphinx-theme==0.14.3
sphinx-github-changelog==1.2.1
myst-parser==2.0.0
sklearn2pmml==0.92.0
