numpy==2.4.3
scipy==1.17.1
scikit-learn==1.8.0
cached-property==2.0.1
pytest==9.0.3
pandas==3.0.1
pytest-cov==6.0.0
Cython==3.0.10
sphinx==9.1.0
numpydoc==1.10.0
sphinx-autoapi==3.8.0
pydata-sphinx-theme==0.16.1
sphinx-github-changelog==1.7.1
myst-parser==5.0.0
sklearn2pmml==0.129.2
